[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/vim-rails"]
	path = home/.vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/command-t"]
	path = home/.vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "home/.vim/bundle/vim-clojure"]
	path = home/.vim/bundle/vim-clojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "home/.vim/bundle/vim-colors-solarized"]
	path = home/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "home/.vim/bundle/vim-colors-zenburn"]
	path = home/.vim/bundle/vim-colors-zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule "home/.vim/bundle/vim-ack"]
	path = home/.vim/bundle/vim-ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "home/.vim/bundle/vim-powerline"]
	path = home/.vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
